<app-navbar4></app-navbar4>

<br><br><br>

<div class="container" style="position: fixed;  top: 25%;
left: 35%;" >
    <div class="cookiesContent" id="cookiesPopup">
      <button routerLink="../../users" class="close">✖</button>
      <img src="https://images.vexels.com/media/users/3/127015/isolated/preview/729a0c61769fa8125355ca7526f2d949-recycling-symbol-circle2-svg.png" alt="cookies-img" />
      <form (ngSubmit)="updatePermission()">
      <p >Vous etes sure que vous voulez restorer cette compte.  </p>
      <button class="accept">Restorer</button>
      </form>
    </div>
  </div>



  