<app-navbar3></app-navbar3>
<h3>it works</h3>
<h2>my id - {{this.mypeerid}}</h2><br>
<input type="text" [(ngModel)]="anotherid"><br>
<button  (click)="connect()">Connect</button><br>
<button class="btn btn-primary" (click)="videoconnect()">Join</button>
<video  #myvideo></video>

<!-- <form (ngSubmit)="connected()">
      <p >Vous etes sure que vous voulez restorer cette compte.  </p>
      <button class="accept">partage</button>
      </form>
      <form (ngSubmit)="join()">
        <p >join </p>
        <button class="accept">Join</button>
        </form>

   
<video id="video" ></video>

<video id="join" ></video> -->
